* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
nav {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-logo,
img {
  width: 60px;
  height: auto;
}

.right-nav,
ul,
a {
  list-style: none;
  color: aliceblue;
  margin-right: 20px;
  font-size: 1.2rem;
}
.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
}

.card-text h1 {
  font-size: 3.5rem;
  margin-top: 15px;
  font-family: "poppins", sans-serif;
}
.card-text h2 {
  margin-top: 10px;
  font-size: 1.9rem;
  font-style: italic;
}
.card-container {
  gap: 5px;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.basic {
  background-color: rgb(240, 6, 76);
  width: 300px;
  height: 350px;
  border-radius: 10px;
  margin-top: 150px;
  list-style: none;
}
.basic button {
  margin-top: 20px;
  padding: 5px;
}
.basic ul {
  margin-top: 20px;
  padding: 5px;
}
.basic ul li {
  margin-top: 13px;
}

.basic button:hover {
  background-color: rgb(243, 146, 1);
}
.basic h2 {
  margin-top: 30px;
  padding: 5px;
}
.standard {
  background-color: #d66615;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  margin-top: 150px;
  list-style: none;
  transform: translateY(-30px);
}
.standard button {
  margin-top: 20px;
  padding: 5px;
}
.standard ul {
  margin-top: 20px;
  padding: 5px;
}
.standard ul li {
  margin-top: 13px;
}

.standrd button:hover {
  background-color: rgba(243, 146, 1, 0.897);
}
.standard h2 {
  margin-top: 30px;
  padding: 5px;
}
.Premium {
  background-color: rgb(90, 7, 245);
  width: 300px;
  height: 350px;
  border-radius: 10px;
  margin-top: 150px;
  list-style: none;
}
.Premium button {
  margin-top: 20px;
  padding: 5px;
}
.Premium ul {
  margin-top: 20px;
  padding: 5px;
}
.Premium ul li {
  margin-top: 13px;
}

.Premium button:hover {
  background-color: rgb(243, 146, 1);
}
.Premium h2 {
  margin-top: 30px;
  padding: 5px;
}
.standard {
  position: relative;
}

.badge {
  position: absolute;
  top: -15px;

  background: red;
  border-radius: 20px;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: bold;
  right: 5px;
  z-index: 3;
}
